@charset "utf-8";

/* ------------------------------------------------------------
* Name      : common.css
* Desc       : interest me POC / common Style Sheet
* Created   : 2012-06-02 CJ E&M 
------------------------------------------------------------ */

@import url('https://fonts.googleapis.com/css?family=Oxygen');

html, body { margin:0; padding:0; font-family:'Oxygen', sans-serif; font-size:12px; -webkit-text-size-adjust:none; color:#251904; line-height:1.4; letter-spacing:-1px; background:#e2e4e8; }

#WolfharuWatch {
	position:fixed; left:50%; top:50%; width:300px; height:300px;
	-webkit-transform:translate3d(-50%,-50%,0); transform:translate3d(-50%,-50%,0);
}
.WolfharuWatchInner { position:relative; width:100%; height:100%; }
.WolfharuWatchContent {
	position:absolute; left:50%; top:50%; width:86.66666667%; height:86.66666667%; background-color:#dcdde1;
	-webkit-border-radius:50%; border-radius:50%;
	-webkit-box-shadow:inset -8px 0 0 5px rgba(255, 255, 255, 0.05), inset 8px 0 0 5px rgba(0, 0, 0, 0.01); box-shadow:inset -8px 0 0 5px rgba(255, 255, 255, 0.05), inset 8px 0 0 5px rgba(0, 0, 0, 0.01);
	-webkit-transform:translate3d(-50%,-50%,0); transform:translate3d(-50%,-50%,0);
}
.WolfharuWatchContent:after {
	position:absolute; content:''; left:50%; top:50%; width:66.92307692%; height:66.92307692%; background-color:#e0e3e8; display:block; z-index:1;
	-webkit-border-radius:50%; border-radius:50%;
	box-shadow:0 15px 25px -4px rgba(0, 0, 0, 0.25), inset 0 -3px 4px -1px rgba(0, 0, 0, 0.05), 0 -10px 15px -1px rgba(255, 255, 255, 0.3), inset 0 3px 4px -1px rgba(255, 255, 255, 0.05), inset 0 0 5px 1px rgba(255, 255, 255, 0.8), inset 0 20px 30px 0 rgba(255, 255, 255, 0.2);
	-webkit-transform:translate3d(-50%,-50%,0); transform:translate3d(-50%,-50%,0);
}
.WolfharuWatchContent:before {
	position:absolute; content:''; left:50%; top:50%; margin:-4% 0 0 -4%;  width:8%; height:8%; background-color:#e0e3e8; border:3px solid #07d2ff; display:block; z-index:4;
	-webkit-box-sizing:border-box; box-sizing:border-box;
	-webkit-border-radius:50%; border-radius:50%;
}
.WolfharuWatchContent strong {
	position:absolute; content:''; left:50%; top:0; margin-left:-0.8%; padding:30% 0 0 0; width:1.6%; height:50%; display:block; z-index:3;
	-webkit-box-sizing:border-box; box-sizing:border-box;
	-webkit-transform-origin:center bottom; transform-origin:center bottom;
	transform:rotate(45deg);
}
.WolfharuWatchContent strong i { position:relative; width:100%; height:100%; background-color:#07d2ff; display:block; }

.WolfharuWatchContent em {
	position:absolute; content:''; left:50%; top:0; margin-left:-0.5%; padding:5% 0 0 0; width:1%; height:50%; display:block; z-index:1;
	-webkit-box-sizing:border-box; box-sizing:border-box;
	-webkit-transform-origin:center bottom; transform-origin:center bottom;
}
.WolfharuWatchContent em i { position:relative; width:100%; height:100%; background-color:#07d2ff; display:block; }