@charset "utf-8";

/* ------------------------------------------------------------
* Name      : common.css
* Desc       : interest me POC / common Style Sheet
* Created   : 2012-06-02 CJ E&M 
------------------------------------------------------------ */

@import url('https://fonts.googleapis.com/css?family=Droid+Sans+Mono');

html, body { margin:0; padding:0; font-family:'Droid Sans Mono', monospace; font-size:12px; -webkit-text-size-adjust:none; color:#251904; line-height:1.4; letter-spacing:-1px; background:#000000; }

#WolfharuWatch {
	position:fixed; left:50%; top:50%; width:300px; height:300px;
	-webkit-transform:translate3d(-50%,-50%,0); transform:translate3d(-50%,-50%,0);
}
.WolfharuWatchInner { position:relative; width:100%; height:100%; }
.WolfharuWatchContent {
	position:absolute; left:50%; top:50%; width:86.66666667%; height:86.66666667%; background-color:#000000;
	-webkit-border-radius:50%; border-radius:50%;
	-webkit-box-shadow:inset -8px 0 0 5px rgba(255, 255, 255, 0.01), inset 8px 0 0 5px rgba(0, 0, 0, 0.01); box-shadow:inset -8px 0 0 5px rgba(255, 255, 255, 0.01), inset 8px 0 0 5px rgba(0, 0, 0, 0.01);
	-webkit-transform:translate3d(-50%,-50%,0); transform:translate3d(-50%,-50%,0);
}
.WolfharuWatchContent:after {
	position:absolute; content:''; left:50%; top:50%; width:66.92307692%; height:66.92307692%; background-color:#000000; display:block; opacity:0.75; z-index:12;
	-webkit-border-radius:50%; border-radius:50%;
	-webkit-box-shadow:0 15px 25px -4px rgba(0, 0, 0, 0.0625), inset 0 -3px 4px -1px rgba(0, 0, 0, 0.0125), 0 -10px 15px -1px rgba(255, 255, 255, 0.075), inset 0 3px 4px -1px rgba(255, 255, 255, 0.0125), inset 0 0 5px 1px rgba(255, 255, 255, 0.2), inset 0 20px 30px 0 rgba(255, 255, 255, 0.05);
	box-shadow:0 15px 25px -4px rgba(0, 0, 0, 0.0625), inset 0 -3px 4px -1px rgba(0, 0, 0, 0.0125), 0 -10px 15px -1px rgba(255, 255, 255, 0.075), inset 0 3px 4px -1px rgba(255, 255, 255, 0.0125), inset 0 0 5px 1px rgba(255, 255, 255, 0.2), inset 0 20px 30px 0 rgba(255, 255, 255, 0.05);
	-webkit-transform:translate3d(-50%,-50%,0); transform:translate3d(-50%,-50%,0);
}
.WolfharuWatchContent:before {
	position:absolute; content:''; left:50%; top:50%; margin:-4% 0 0 -4%;  width:8%; height:8%; background-color:#000000; border:3px solid #ffffff; display:block; z-index:14;
	-webkit-box-sizing:border-box; box-sizing:border-box;
	-webkit-border-radius:50%; border-radius:50%;
}
.WolfharuWatchContent strong.hourHand {
	position:absolute; content:''; left:50%; top:0; margin-left:-0.8%; padding:30% 0 0 0; width:1.6%; height:50%; display:block; z-index:13;
	-webkit-box-sizing:border-box; box-sizing:border-box;
	-webkit-transform-origin:center bottom; transform-origin:center bottom;
	transform:rotate(45deg);
}
.WolfharuWatchContent strong.hourHand i { position:relative; width:100%; height:100%; background-color:#ffffff; display:block; }

.WolfharuWatchContent em.minuteHand {
	position:absolute; content:''; left:50%; top:0; margin-left:-0.5%; padding:5% 0 0 0; width:1%; height:50%; display:block; z-index:11;
	-webkit-box-sizing:border-box; box-sizing:border-box;
	-webkit-transform-origin:center bottom; transform-origin:center bottom;
}
.WolfharuWatchContent em.minuteHand i { position:relative; width:100%; height:100%; background-color:#ffffff; display:block; }

.WolfharuWatchContent span.hourLine {
	position:absolute; content:''; left:50%; top:0; margin-left:-0.5%; padding:6.27403846125% 0 0 0; width:1%; height:50%; display:block; z-index:13;
	-webkit-box-sizing:border-box; box-sizing:border-box;
	-webkit-transform-origin:center bottom; transform-origin:center bottom;
}
.WolfharuWatchContent span.hourLine i {
	position:relative; width:100%; height:10%; background-color:rgba(255,255,255,0.5); display:block;
}
.WolfharuWatchContent span.hourLine:nth-of-type(1) { -webkit-transform:rotate(0deg); transform:rotate(0deg); }
.WolfharuWatchContent span.hourLine:nth-of-type(2) { -webkit-transform:rotate(90deg); transform:rotate(90deg); }
.WolfharuWatchContent span.hourLine:nth-of-type(3) { -webkit-transform:rotate(180deg); transform:rotate(180deg); }
.WolfharuWatchContent span.hourLine:nth-of-type(4) { -webkit-transform:rotate(270deg); transform:rotate(270deg); }

.WolfharuWatchContent span.watchText {
	position:absolute; left:50%; top:50%; padding:0 10px; line-height:22px; text-align:center; background:rgba(0,0,0,1); display:block; z-index:21;
	-webkit-transform:translate3d(-50%,-50%,0); transform:translate3d(-50%,-50%,0);
}
.WolfharuWatchContent span.watchText em {
	font-size:16px; color:rgba(255,255,255,0.6); font-style:normal; line-height:22px;
}
.WolfharuWatchContent span.watchText i {
	font-size:16px; color:rgba(255,255,255,0.5); font-style:normal; line-height:22px;
}
.WolfharuWatchContent span.watchText em:nth-of-type(1) { font-size:12px; }
